:root {
  --background-color: #000000;
  --background-secondary-color: #202020;
  --background-third-color: #404040;
  --text-color: #00ff00;
  --text-red-color: #ff0000;
  --popup-background: rgba(0, 0, 0, 0.7);
  --border-color: #ffffff;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 8px;
  max-width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--background-secondary-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--background-third-color);
}
